body {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.whole {
  background: linear-gradient(0.25turn, #a9d1e2, #ebf8e1, #ecb376);
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  border-radius: 16px;
}

header {
  border-bottom: 1px solid rgba(115, 108, 108, 0.114);
  padding: 10px;
}

footer {
  border-top: 1px solid rgba(115, 108, 108, 0.114);
  padding: 10px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
}

#bar {
  width: 82%;
  background-color: rgb(245, 245, 245);
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
}

#srchb {
  border-radius: 6px;
  padding: 12px;
  padding: 12px 20px;
  background: rgb(245, 245, 245);
  font-size: 15px;
  border: none;
  font-weight: 500;
  background: #a9d1e2;
}

#srchb:hover {
  font-size: 14px;
  transition: 0.8;
  background: #fff;
  cursor: pointer;
}

h1 {
  font: 38px;
}
main {
  padding: 20px 0;
}
.temp-details {
  display: flex;
  justify-content: space-between;
}

.d,
.dayF {
  color: #0485bb;
  font-weight: 530;
}

strong,
.h,
.w {
  color: #a55402;
  font-weight: 500;
  font-size: larger;
}

.temp {
  display: flex;
  margin-top: 28px;
  margin-right: 30px;
}

.icon {
  width: 88px;
  height: 74px;
}
.curTemp {
  font-size: 78px;
  line-height: 78px;
}
.uniTemp {
  margin-top: 7px;
  font-size: 28px;
  margin-left: 8px;
}

.forecast {
  font-size: 15px;
  color: #2a1001;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;

  width: 8px;
}

ul {
  margin-bottom: -5px;

  padding: 0;
}

li {
  list-style: none;
}

.mm {
  color: #884502;
  font-weight: 500;
}

.min {
  opacity: 0.7;
}
